@import url('./styles/system.css');

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: var(--background-color);
    color: var(--foreground-color);
    line-height: 2;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}

.input-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
gap:25px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
}

.input-section h1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 28px;
    color: var(--text-color);
}

.input-section input {
    width: auto;
    min-width: 117px;
    field-sizing: content;
    max-width: 320px;
    height: 83px;
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    border-radius: 5px;
    font-size: 58px;
    color: var(--input-color);
    text-align: center;
    outline: none;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.input-section button {
    width: 117px;
    height: 42px;
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.result-section {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 25px 16px;
    flex: 1;
}

.result-card {
    background-color: var(--card-background-color);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

.result-card h2 {
    margin: 0;
    color: var(--card-header-color);
    font-size: 20px;
    font-weight: 600;
}

.result-card .card-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.result-card .card-content p {
    margin: 0;
}



