:root {
    --primary-color: #6943FF;
    --border-color: #CCC1FF;
    --input-color: #ffffff;
    --input-border-color: #B295FF;
    --button-background-color: #ffffff;
    --button-color: #3D3D3D;
    --card-background-color: #273549;
    --card-header-color: #CCC1FF;
    --background-color: #1F2937;
    --foreground-color: #ffffff;
}